{{ define "main" }}

    <div class="overflow-x-scroll">
        <div class="min-w-screen min-h-screen bg-gray-100 flex items-center justify-center bg-gray-100 font-sans overflow-hidden">
            <div class="w-full lg:w-5/6">
                <div class="bg-white shadow-md rounded my-6">
                    <table class="min-w-max w-full table-auto">
                        <thead>
                            {{ range $i, $a := .matrix}}
                                {{if eq $i 0}}
                                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                    {{ range $j, $b := $a }}
                                    <th class="py-3 px-6 text-left">{{ $b  }}</th>
                                    {{ end }}
                                </tr>
                                {{end}}
                            {{end}}
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                            {{ range $i, $a := .matrix}}
                                {{if ne $i 0}}
                                    <tr class="border-b border-gray-200 hover:bg-gray-100 ">
                                        {{ range $j, $b := $a }}
                                            {{ $v :=(printf "%d%d" $i $j) }}
                                            {{ $d := index $.errors $v }}
                                            <td class="py-3 px-6 text-left   {{ if $d }} bg-red-200 text-red-500 {{end}}">
                                                {{ if $d}} 
                                                    {{ range $d}}
                                                        {{ . }}
                                                    {{end}}
                                                {{ else }} 
                                                    {{ $b }}
                                                {{ end }}
                                            </td>
                                        {{ end }}
                                    </tr>
                                {{end}}
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{{ end }}

